{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- HTML Meta Tags -->
    <title>Horizon</title>
    <meta name="description" content="Horizon: A SAAS product">

    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    <link href="{% static 'css/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/fontawesome-free/css/all.min.css' %} " rel="stylesheet">
    <link href="{% static 'css/intlTelInput.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/purecookie.css' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'css/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/intlTelInput.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script class="iti-load-utils" async="" src="{% static 'js/utils.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css">

</head>

<body>

    <header>
        <nav class="navbar mr-auto navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="#" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link {{ signup }}" href="{% url 'signup' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ affiliates }}" href="{% url 'affiliates' %}">Affiliate Program</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_self" style="color: #f24888; padding-top: 0px;">
                            <button class="btn mt-auto btn-primary btn-block shadow-none" style="text-align: center;">
                                Get Started
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">About Us</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="small mb-4 mb-lg-0" id="footercopyright">&copy; Horizon All Rights Reserved.
                    </p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script>
        const $dropdown = $(".dropdown");
        const $dropdownToggle = $(".dropdown-toggle");
        const $dropdownMenu = $(".dropdown-menu");
        const showClass = "show";

        $(window).on("load resize", function () {
            if (this.matchMedia("(min-width: 768px)").matches) {
                $dropdown.hover(
                    function () {
                        const $this = $(this);
                        $this.addClass(showClass);
                        $this.find($dropdownToggle).attr("aria-expanded", "true");
                        $this.find($dropdownMenu).addClass(showClass);
                    },
                    function () {
                        const $this = $(this);
                        $this.removeClass(showClass);
                        $this.find($dropdownToggle).attr("aria-expanded", "false");
                        $this.find($dropdownMenu).removeClass(showClass);
                    }
                );
            } else {
                $dropdown.off("mouseenter mouseleave");
            }
        });

    </script>
</body>

</html>